body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    padding: 0 20px;
}

.nav-links {
    
}
/* faire en sorte que quand la page en petite on plus chaque onglet mais qu'on
doive cliquer sur un menu deroulant */


.nav-item {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    flex: flex-grow;
    width: 90px;
    display: inline-block;
}

.nav-item:first-child {
    margin-right: auto; /* pousse les suivants à la fin */
}

.router-link-exact-active {
    font-weight: bold;
}

.nav-logo {
    height: 50px;
    width: auto;
    margin-right: auto;
}

/* Hamburger caché par défaut */
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }